{% extends "management/base.html" %}
{% block title %}Edit category{% endblock %}
{%block toolbar%}{% include "management/toolbar.html" %} {% endblock %}
{%block content%}
<form method="post" action="/management/categories/edit/{{category.id}}">
    <input type="hidden" value="{{category.id}}" name="id">
    <div class="mb-3">
        <label for="name" class="form-label">NAME</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Name" value="{{ category.name}}"
               required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
